<div id="fh5co-wrapper">
    <div id="fh5co-page">

    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container-fluid" >
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                <h1 id="fh5co-logo"><a href="index.html" class="kk"><i class="icon-airplane"></i >Tunisair</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li ><a href="index.html">Home</a></li>
                        <li>
                            <a href="vacation.html" class="fh5co-sub-ddown">Client</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">Ajouter Client</a></li>
                                <li><a href="#">Modifier Client</a></li>
                             
                                <li><a href="#">Supprimer Client</a></li>
                            
                            </ul>
                        </li>
                        <li>
                            <a href="vacation.html" class="fh5co-sub-ddown">Contrat</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">Ajouter Contart</a></li>
                                <li><a href="#">Modifier Contrat</a></li>
                                <li><a href="#">Supprimer Contrat</a></li>
                            
                             
                            </ul>
                        </li>
                        <li>
                            <a href="vacation.html" class="fh5co-sub-ddown">Balance</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">Ajouter Balance</a></li>
                                <li><a href="#">Modifier Balance</a></li>
                                <li><a href="#">Supprimer Balance</a></li>
                            
                             
                            </ul>
                        </li>
                       
                        <li class="active"><a routerLink="connexion" >Se connecter</a></li>
                        <router-outlet></router-outlet>
                      
                    </ul>
                </nav>
            </div>
        </div>
    </header>

   </div>
</div>
